<h2>Liste des Fournisseurs</h2>

<ul>
  <li *ngFor="let fournisseur of listFournisseur">
    <ng-container *ngIf="fournisseur.idFournisseur <= 100">
      <fieldset>
        <p>ID du Fournisseur : {{ fournisseur.idFournisseur }}</p>
        <p [ngStyle]="{ 'font-weight': getColor(fournisseur.code) }">Code : {{ fournisseur.code }}</p>
        <p [ngStyle]="{ 'background-color': fournisseur.libelle === 'hp' ? 'green' : 'yellow' }">Libellé : {{ fournisseur.libelle }}</p>
      </fieldset>
    </ng-container>
  </li>
</ul>
